@import "tailwindcss";

* {
    cursor: none;
    font-family: "GT Flexa Lt";
}


body {
  overflow-x: hidden;
}
/* For entire body */


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
